{% extends 'base.html' %}
{% block title %}Comment on Blog post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Ajouter une Critique...</h1>
<br><br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-secondary">Ajouter une Critique</button>
    </form>
</div>

{% else %}

Accès non autorisé ..!

{% endif %}
<br><br>
<small><a href="{% url 'home' %}" class="btn btn-secondary">Retour à la page d'accueil</a></small>
{% endblock %}