{% extends 'base.html' %}
{% block title %}Create a new post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Créer un Ticket...</h1>
<br><br>

<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <div class="container">
            <div class="d-flex flex-row-reverse bd-highlight">
                <button style="width: 200px;" class="btn btn-outline-primary">Envoyer</button>
                <a style="margin-right: 20px;" href="{% url 'home' %}" class="btn btn-secondary">Retour à la page d'accueil</a>
            </div>
        </div>
    </form>
</div>

<script>
    var name = "{{ user.id }}";

    document.getElementById("elder").value = name;
</script>
{% else %}

You are not allowed here..!

{% endif %}
{% endblock %}