{% extends 'base.html' %}
{% block title %}{{ critique.title_tag }}{% endblock %}



{% block content %}
<h1>{{ critique.title }}</h1>

<small>By:  {{ critique.author.user.first_name }}
            {{ critique.author.user.last_name }} -
            {{ critique.post_date }}
    {% if user.is_authenticated %}
        {% if user.id == critique.author.id %}
            <a href="{% url 'update-critique' critique.pk %}">(Edit)</a>

            <a href="{% url 'delete-critique' critique.pk %}">(Delete)</a>
        {% endif %}
    {% endif %}
</small><br>
<hr>
<br>
{% if critique.header_image %}
    <img src="{{ critique.header_image.url }}">
{% endif %}

<br><br>
{{ critique.body }}
<br>
<hr>
<h2>Critique :</h2>

{{ critique.title.second }}
<br>
Note :
{% if critique.rating == 0 %}
           '&#9734;&#9734;&#9734;&#9734;&#9734;'
        {% elif critique.rating == 1 %}
            '&#9733;&#9734;&#9734;&#9734;&#9734;'
        {% elif critique.rating == 2 %}
            '&#9733;&#9733;&#9734;&#9734;&#9734;'
        {% elif critique.rating == 3 %}
            '&#9733;&#9733;&#9733;&#9734;&#9734;'
        {% elif critique.rating == 4 %}
            '&#9733;&#9733;&#9733;&#9733;&#9734;'
        {% elif critique.rating == 5 %}
            '&#9733;&#9733;&#9733;&#9733;&#9733;'
        {% endif %}
<br>
{{ critique.comment }}
<br><br><br>
<small><a href="{% url 'home' %}" class="btn btn-secondary">Retour à la page d'accueil</a></small>

{% endblock %}