{% extends 'base.html' %}
{% block title %}Supprimer un Ticket{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
<h1>Delete Post...</h1>
<br><br>
<h3>Delete: {{ post.title }}</h3>


<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <br><br>
        <strong> Êtes-vous sûre de vouloir supprimer ?</strong>
        <br><br>
        <button class="btn btn-outline-secondary">Supprimer</button>
    </form>
</div>
    {% else %}
        Accès non autorisé..!
    {% endif %}
{% else %}

Accès non autorisé..!

{% endif %}
<br><br>
<small><a href="{% url 'home' %}" class="btn btn-secondary">Retour à la page d'accueil</a></small>
{% endblock %}