{% extends 'base.html' %}

{% block title %}
profile detail
{% endblock title %}

{% block content %}

<div class="ui grid">
    <div class="four wide column">
        {{object}}
        <hr>
        {% if follow %}
            <form action="{% url 'profiles:follow-unfollow-view' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{object.pk}}>
                <button type="submit" class="ui negative button">unfollow</button>
            </form>
        {% else %}
            <button id="follow-btn" class="ui positive button">follow</button>
        {% endif %}
    </div>
    <div class="twelve wide column">
        {% for post in object.profiles_posts %}
            <div class="ui segment">
                {{post.body}}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
