{% extends 'base.html' %}

{% block content %}

<center class="container">
    <div class="row justify-content-center">
        {% if searched %}
            <h1>You searched for :</h1>
            <br>
            {% for user in users %}
                {% if request.user == user %}
                    <p style="color: red; font-size: 30px; text-transform: uppercase;">utilisateur introuvable</p>
                {% else %}
        
                <div class="ui segment">
                    <p style="font-size: 30px; font-weight: bold;">
                        {{ user }} 
                    </p>

                    <p class="small text-muted">
                        <a class="btn btn-success" href="{% url 'show-profile-page' user.id %}">Profile page</a>
                    </p>
                    <br>
                </div>
                {% endif %}
            {% endfor %}
        
        {% else %}
            <p>Nothing here ...</p>
        {% endif %}
    </div>

    <a href="{% url 'following-list' %}" class="btn btn-secondary mt-5">Retour à la page abonnemennt</a>

</center>





{% endblock %}